*.log
/out/
/work/
.idea/
*/build/
xcuserdata/
*.iws
.DS_Store
/bamboo/TEST*.xml
/bamboo/junit*.properties
*.suo
*.csproj.user
*.o
*.lo
*.obj
.deps
atlassian-ide-plugin.xml
*.iml
target
/libs/
pom-installed.xml
git-patch-prop-local.sh
/slurp.sh
*.class
.DS_Store
*.DS_Store
.classpath
.project
.cache
.settings
target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
build/*.jar
.settings
.cache
cache
.generated-mima*
work/
out/
.DS_Store
build/apache-maven*
build/zinc*
build/scala*
docs/_site
docs/api
target/
reports/
.project
.classpath
.scala_dependencies
lib_managed/
src_managed/
project/boot/
project/plugins/project/build.properties
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
logs/
log/
spark-tests.log
streaming-tests.log
dependency-reduced-pom.xml
.ensime
.ensime_lucene
checkpoint
derby.log
dist/
dev/create-release/*txt
dev/create-release/*final
spark-*-bin-*.tgz
unit-tests.log
rat-results.txt
scalastyle.txt
scalastyle-output.xml
R-unit-tests.log
R/unit-tests.out
*.tar.gz
*.gz
*.zip
*.rar
*.log

# For Hive
metastore_db/
metastore/
warehouse/
TempStatsStore/
sql/hive-thriftserver/test_warehouses

